html, button, input, select, textarea {

}
html{
	font-size:1em;
	line-height:1.4;

}
#wrapper{

margin: 0 auto;
}
#profile{

float: right;
 border: 2px solid;
 border-color: #FF7F50;
 border-radius: 50%;
}
#nomcv{

font-family: aclonica, sans-serif;
}
#for,#exp {
      display:none;
}
.inner
{
    display: inline-block;
}
button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
